@page "/ApiTest"
@using Microsoft.AspNetCore.Components
@using Yrhacks2023.Shared
@using System.Security.Cryptography
@using Yrhacks2023.Shared.Data
@inject HttpClient HttpClient

<br/>
<span>Select product category:</span>
<InputSelect @bind-Value="_itemType">
    @for (var i = 0; i <= 12; ++i)
    {
        <option>@((ItemType)i)</option>
    }
</InputSelect>

<br/>
<span>Product name:</span>
<input @bind="_name"/>

<br/>
<span>Description:</span>
<input @bind="_description"/>

<br/>
<button @onclick="SendToServer">Add</button>

<br/>
<button @onclick="GetAll">Get all</button>

<br/>
<InputSelect @bind-Value="_getType">
    @for (var i = 0; i <= 12; ++i)
    {
        <option>@((ItemType)i)</option>
    }
</InputSelect>
<button @onclick="GetAllOfType">Get all of type</button>

<br/>
<input @bind="_searchKey"/>
<button @onclick="SearchByName">Search by name</button>

@code {

    private string _name = string.Empty;
    private ItemType _itemType;
    private ItemType _getType;
    private string _description = string.Empty;
    private string _image = string.Empty;
    private string _searchKey = string.Empty;

    private async void SendToServer()
    {
        var id = new byte[8];
        RandomNumberGenerator.Fill(id);

        var p = new Product
        {
            Id = BitConverter.ToUInt64(id, 0),
            Name = _name,
            Type = _itemType,
            Description = _description,
            Image = "image",
            Seller = "seller",
            Price = 6.9M
        };

        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("api/products/addProduct", p);
        Console.WriteLine(response.IsSuccessStatusCode ? "200" : "ERR");
    }

    private async void GetAll()
    {
        HttpResponseMessage response = await HttpClient.GetAsync("api/products/getAll");
        Console.WriteLine(response.IsSuccessStatusCode ? "200" : "ERR");
    }
    
    private async void GetAllOfType()
    {
        HttpResponseMessage response = await HttpClient.GetAsync($"api/products/getAll/{(int)_getType}");
        Console.WriteLine(response.IsSuccessStatusCode ? "200" : "ERR");
    }
    
    private async void SearchByName()
    {
        HttpResponseMessage response = await HttpClient.PutAsJsonAsync("api/products/search", _searchKey);
        Console.WriteLine(response.IsSuccessStatusCode ? "200" : "ERR");
    }

}