@page "/ApiTest"
@using Microsoft.AspNetCore.Components
@using Yrhacks2023.Shared
@using Yrhacks2023.Shared.Data
@using System.Security.Cryptography
@using System.Text
@using Blazored.LocalStorage
@using Yrhacks2023.Shared.Requests
@inject HttpClient HttpClient
@inject ILocalStorageService Lss

<br/>
<span>Select product category:</span>
<InputSelect @bind-Value="_itemType">
    @for (var i = 0; i <= 12; ++i)
    {
        <option>@((ItemType)i)</option>
    }
</InputSelect>

<br/>
<span>Product name:</span>
<input @bind="_name"/>

<br/>
<span>Description:</span>
<input @bind="_description"/>

<br/>
<button @onclick="SendToServer">Add</button>

<br/>
<button @onclick="GetAll">Get all</button>

<br/>
<InputSelect @bind-Value="_getType">
    @for (var i = 0; i <= 12; ++i)
    {
        <option>@((ItemType)i)</option>
    }
</InputSelect>
<button @onclick="GetAllOfType">Get all of type</button>

<br/>
<input @bind="_searchKey"/>
<button @onclick="SearchByName">Search by name</button>

<br/><br/><br/><br/>
<input @bind="_username"/>
<input @bind="_password"/>
<input @bind="_displayName"/>
<input @bind="_email"/>
<button @onclick="Register">Register</button>

<br/>
<input @bind="_loginUsername"/>
<input @bind="_loginPassword"/>
<button @onclick="Login">Login</button>

<br/><br/><br/><br/>
<input @bind="_listName"/>
<button @onclick="CreateNewList">Create list</button>


@code {

    private string _name = string.Empty;
    private ItemType _itemType;
    private ItemType _getType;
    private string _description = string.Empty;
    private string _image = string.Empty;
    private string _searchKey = string.Empty;

    private string _username = string.Empty;
    private string _password = string.Empty;
    private string _displayName = string.Empty;
    private string _email = string.Empty;

    private string _loginUsername = string.Empty;
    private string _loginPassword = string.Empty;

    private string _listName = string.Empty;

    private async void SendToServer()
    {
        var p = new Product
        {
            Name = _name,
            Type = _itemType,
            Description = _description,
            Image = "image",
            Seller = "seller",
            Price = 690,
        };

        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("api/products/addProduct", p);
        Console.WriteLine(response.IsSuccessStatusCode ? "200" : "ERR");
    }

    private async void GetAll()
    {
        HttpResponseMessage response = await HttpClient.GetAsync("api/products/getAll");
        Console.WriteLine(response.IsSuccessStatusCode ? "200" : "ERR");
    }
    
    private async void GetAllOfType()
    {
        HttpResponseMessage response = await HttpClient.GetAsync($"api/products/getAll/{(int)_getType}");
        Console.WriteLine(response.IsSuccessStatusCode ? "200" : "ERR");
    }
    
    private async void SearchByName()
    {
        HttpResponseMessage response = await HttpClient.PutAsJsonAsync("api/products/search", _searchKey);
        Console.WriteLine(response.IsSuccessStatusCode ? "200" : "ERR");
    }

    private async void Register()
    {
        var account = new Account
        {
            Username = _username,
            PasswordHash = SHA512.HashData(Encoding.UTF32.GetBytes(_password)),
            DisplayName = _displayName,
            Email = _email
        };
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("AccountApi/Register", account);
        await Lss.SetItemAsStringAsync("token", await response.Content.ReadAsStringAsync());
    }

    private async void Login()
    {
        var lR = new LoginRequest
        {
            Username = _loginUsername,
            Password = SHA512.HashData(Encoding.UTF32.GetBytes(_loginPassword))
        };
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("AccountApi/Login", lR);
        await Lss.SetItemAsStringAsync("token", await response.Content.ReadAsStringAsync());
    }

    private async void CreateNewList()
    {
        var nL = new NewBuildListRequest
        {
            Name = _listName,
            Token = await Lss.ContainKeyAsync("token") ? await Lss.GetItemAsStringAsync("token") : "",
            IsPublic = true
        };
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("api/buildList/newList", nL);
        Console.WriteLine(response.IsSuccessStatusCode ? "200" : "ERR");
    }

}