@page "/Browse"
<PageTitle>Browse/BASEL</PageTitle>
<PageHeader/>

<div class="page-content">

    <div class="num-results">
        <p>Showing 1-x of xx results for "query"</p>
    </div>
    <div class="sidebar">
        <div class="sidebar-section">
            <p class="sidebar-heading">Price</p>
            <p class="sidebar-list-item">
                <a href="#">Under $25</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">$25 to $50</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">$50 to $100</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">$100 to $200</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">$200 and above</a>
            </p>
            <form>
                <!--Do this later-->
            </form>
        </div>
        <div class="sidebar-section">
            <p class="sidebar-heading">Type
            </p>
            <p class="sidebar-list-item">
                <a href="#">CPU</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">GPU</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">RAM</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">Motherboard</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">Case</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">HDD</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">SSD</a>
            </p>  
            <p class="sidebar-list-item">
                <a href="#">Mouse</a>
            </p> 
            <p class="sidebar-list-item">
                <a href="#">Keyboard</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">Monitor</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">Cooler</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">Other</a>
            </p>
            <!--Add some more items as you see fit-->
        </div>

        <div class="sidebar-section">
            <p class="sidebar-heading">Condition
            </p>
            <p class="sidebar-list-item">
                <a href="#">Good</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">Fair</a>
            </p>
            <p class="sidebar-list-item">
                <a href="#">Poor</a>
            </p>

            <!--Add some more items as you see fit-->
        </div>

        @*<div class="sidebar-section">
            <p class="sidebar-heading">Other heading
            </p>
            <p class="sidebar-list-item">
                <a href="#">Whatever</a>
            </p>
            <!--Add some more items as you see fit-->
        </div>*@


    </div>
    <div class="results-container">
        <a href="#">
            <!--To link to product page-->
            <div class="product-card">
                <img class="product-img" src="sample-computer.jpg" alt="Sample computer">
                <div prod-details>
                    <p class="item-desc">Commodore 64 PC</p>
                    <div class="card-mid">
                        <p class="item-type">Other</p>
                        <p> | </p>
                        <p class="item-condition used">Poor</p>
                    </div>
                    <p class="item-price">$87.32</p>
                </div>
            </div>
        </a>

        <div class="product-card">
            <div class="product-img-container">
                <img class="product-img" src="sample-motherboard.jpg" alt="test">
            </div>
            <div prod-details>
                <p class="item-desc">Asus H81M-C Intel LGA1150 DDR3 Desktop Motherboard MicroATX Socket H3</p>
                <div class="card-mid">
                    <p class="item-type">Motherboard</p>
                    <p> | </p>
                    <p class="item-condition new">Good</p>
                </div>
                <p class="item-price">$37.65</p>
            </div>
        </div>
        
        <div class="product-card">
                    <div class="product-img-container">
                        <img class="product-img" src="sample-mouse.jpg" alt="test">
                    </div>
                    <div prod-details>
                        <p class="item-desc">Logitech M510 Wireless Laser Mouse</p>
                        <div class="card-mid">
                            <p class="item-type">Mouse</p>
                            <p> | </p>
                            <p class="item-condition used">Fair</p>
                        </div>
                        <p class="item-price">$13.19</p>
                    </div>
                </div>

    </div>
</div>

@code {

}