<h3>CreateListing</h3>
<PageTitle>Create Listing</PageTitle>
<PageHeader></PageHeader>

<div class="page-content">
        
    <div class="upload-image-box">
        <div class="upload-button">
            <!-- The real file input -->
            <input type="file" class="upload-button__input" />
            
            <!-- The upload icon -->
            <div class="upload-button__icon"></div>
            
            <!-- The label -->
            Upload Image Here
        </div>
    </div>
    <form action="" method="">

        <div class="product-info-section">
            <input type="text" name="item-name" class="item-name" placeholder="Name of Item">
            <input type="text" name="item-type" class="item-type" placeholder="Type">
            <input type="text" name="item-condition" class="item-condition" placeholder="Condition">
    
            <label class="item-price" for="item-price">Price ($):</label>
            <input type="number" name="item-price" class="item-price" id="item-price">
    
            <label class="item-desc" for="item-desc" >Description:</label>
            <textarea class="item-desc" id="item-desc" name="item-desc"></textarea>
            <input type="submit">
        </div>
    </form>
</div>

@code {
    private string _name;
    private string _type;
    private string _condition;

}