.page-content > section {
    width: 100%;
    text-align: center;
    background-color: var(--dark-gray);
}
.page-content > section:nth-child(even) {
    background-color: var(--dark-gray-2);
}

.big-header {
    color: var(--bright-green);
    font-size: 3rem;
    font-family: Syne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.desc {
    color: white;
}