@page "/"

<PageTitle>Index</PageTitle>
<PageHeader/>

<main class="page-content">
    <section>
        <h1 class="big-header">[Insert section header]</h1>
        <p class="desc">[Insert description]</p>
    </section>
    <section>
        <h1 class="big-header">[Insert section header]</h1>
        <p class="desc">[Insert description]</p>
    </section>
    <section>
        <h1 class="big-header">[Insert section header]</h1>
        <p class="desc">[Insert description]</p>
    </section>
    <section>
        <h1 class="big-header">[Insert section header]</h1>
        <p class="desc">[Insert description]</p>
    </section>
</main>