.page-content{
    position: fixed;
    height: 90vh;
    width: 100%;
}

#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.video-background__content {
    color: white;
    font-size: 2em;
    /* Positioned at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.to-build-button{
    cursor: pointer;
    margin-top: 1em;
    font-size:  0.5em;
    font-family: Syne, sans-serif;
    background-color:rgb(42, 233, 96);
    border: none;
    border-radius: 20px;
    width: 10%;
    padding: 1em;
}