@page "/"

<PageTitle>Index</PageTitle>
<PageHeader/>

<main class="page-content">
    <section>
        <h1>We have an e-waste problem.</h1>
        <p>idk explain something</p>
    </section>
    <section>
        <h1></h1>
    </section>
    <section></section>
    <section></section>
</main>