@page "/"

<PageTitle>BASEL</PageTitle>
<PageHeader/>

<main class="page-content">
    <video autoplay muted loop id="myVideo">
        <source src="homepageVideo.mp4" type="video/mp4">
    </video>
    <div class="video-background__content">
        <h1>Your new base for old parts.</h1>
        <button class="to-build-button" onclick="">Start Building</button>
    </div>
</main>