@page "/LogIn"
<PageTitle>Log In/BASEL</PageTitle>
<PageHeader/>


<div class="page-content">
        <div class="login-card">
            <div class="center-login">
                <h2 class="login-title">Hello!</h2>
                <p>Sign in to BASEL, or <a>create an account</a></p>
                <div class="login-fields">
                    <form class="login-form">
                        <input type="text" class="text-input" placeholder="Email or Username">
                        
                            <!-- Text input -->
                        <input type="password" class=" text-input" placeholder="Password" />
                        
                        <input type="submit" class="pass-submit">
                    </form>
                    
                </div>
            </div>


        </div>

    </div>