@page "/PartList"
<PageTitle>My Part Lists</PageTitle>
<PageHeader/>

<div class="page-content">
    <div class="sidebar shadow">
        <div class="sidebar-heading">
            <p>My Part Lists</p>
        </div>
        <div class="sidebar-content">

        </div>
    </div>
    <div class="list-items ">
        <div class="item-card shadow">
            <h3>CPU</h3>
            <hr>
            
                
        </div>

    </div>
</div>