@page "/PartList"
<PageTitle>My Part Lists</PageTitle>
<PageHeader/>

<div class="page-content">
        <div class="sidebar shadow">
            <div class="sidebar-heading">
                <p>My Part Lists</p>
            </div>
            <div class="sidebar-content">
                <div class="list-button">List 1</div>
                <div class="list-button">List 2</div>
                <div class="list-button">List 3</div>
            </div>
        </div>
        <div class="list-items ">
            <!--I guess add IDs to these and then the associated info-->
            <div class="item-card shadow" id="CPU" onclick=""> 
                <h3 class="item-type">CPU</h3>
                <hr>
                <div class="item-details">
                    <img class="item-image" id="" src="computer-sample.jpeg">
                    <p>Item details</p>
                    <p class="item-price">$XX</p>
                </div>

            </div>

            <div class="item-card shadow" id="" onclick=""> 
                <h3 class="item-type">Item Type</h3>
                <hr>
                <div class="item-details">
                    <img class="item-image" id="" src="search-icon.png">
                    <p>Item details</p>
                    <p class="item-price">$XX</p>
                </div>

            </div>
            <div class="item-card shadow" id="" onclick=""> 
                <h3 class="item-type">Item Type</h3>
                <hr>
                <div class="item-details">
                    <img class="item-image" id="" src="baselsquishy2.png">
                    <p>Item details</p>
                    <p class="item-price">$XX</p>
                </div>

            </div>



        </div>
    </div>