@page "/PartList/{listId}"
@using Yrhacks2023.Shared.Data
@inject HttpClient HttpClient
<PageTitle>My Part Lists</PageTitle>
<PageHeader/>

<div class="page-content">
    <div class="sidebar shadow">
        <div class="sidebar-heading">
            <p>My Part Lists</p>
        </div>
        <div class="sidebar-content">
            <div class="list-button">List 1</div>
            <div class="list-button">List 2</div>
            <div class="list-button">List 3</div>
        </div>
    </div>
    <div class="list-items ">
        <!--I guess add IDs to these and then the associated info-->
        @foreach (var p in _products)
        {
            <PartListCard ItemType="@(p.Type)" Description="@(p.Description)" Price="@(p.Price)"/>
        }
    </div>
</div>


@code {
    [Parameter]
    public ulong listId { get; set; }

    List<Product> _products;

    protected async override Task OnInitializedAsync()
    {
        HttpResponseMessage msg = await HttpClient.GetAsync($"/api/buildList/getId/{listId}");
        BuildList? product = await msg.Content.ReadFromJsonAsync<BuildList>();

        ulong[] productIds = product.ProductIds.Split('\x1f').Select(str => ulong.Parse(str)).ToArray();

        foreach (ulong id in productIds)
        {
            HttpResponseMessage msg2 = await HttpClient.GetAsync($"/api/products/getId/{id}");
            _products.Add((await msg2.Content.ReadFromJsonAsync<Product>())!);
        }
        StateHasChanged();
    }

}