@page "/ProductPage"
<PageTitle>Shop/BASEL</PageTitle>
<PageHeader/>

<div class="page-content">
    <div class="product-details">
        <div class="product-image-section">
            <img class="product-image" src="baselsquishy2.png">
        </div>
        <div class="product-info-section">
            <h2 class="product-name">PRODUCT NAME</h2>
            <p class="seller-username">Seller name</p>
            <br>
            <p class="product-price">$XX.XX</p>
            <p class="product-type">CPU</p>
            <p class="product-condition new">New</p>
            <br>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>

            <div class="small-gap"></div>
            <button class="list-button" onClick="">Add to List</button>
        </div>
            
    </div>
    
</div>