<PageTitle>Page not found</PageTitle>
<PageHeader/>

<main class="page-content">
    <h1>There's nothing here...</h1>
    <ul>
        <li><a href="/">Go back to homepage</a></li>
        <li><a onclick="window.history.back()">Back to previous page</a></li>
    </ul>
</main>

@code {
    
}