<header>
    <nav>
        <a href="/">
            <img class="nav-logo" src="baselsquishy2.png">
        </a>
        <a href="/Browse">Browse</a>
        <a href="/PartList">Build</a>
        <a href="/CreateListing">Sell</a>
    
        <form>
            <input class="search" type="text" placeholder="What are you looking for?">
            <button type="submit">
                Search
            </button>
        </form>
    
        <div><a class="green" href="/Register">Register</a> or <a class="green" href="/Login">Sign in</a></div>
    </nav>
</header>